<%- include('head.ejs') %>
    <link rel="stylesheet" href="/css/admin_orders.css">
    </head>

    <body>
        <%- include('navigation.ejs') %>
            <main>
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Użytkownik</th>
                        <th>Data złożenia</th>
                        <th>Status</th>
                        <th>Zmiana statusu</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach(item=> { %>
                        <form action="/status_change/<%= item.ID %>" method="Post">
                            <tr onclick="window.location='/order/<%= item.ID %>'">
                                <td>
                                    <%= item.ID %>
                                </td>
                                <td>
                                    <%= item.user %>
                                </td>
                                <td>
                                    <%= item.Data_zlozenia %>
                                </td>
                                <td>

                                    <select name="status" id="status">
                                        <% statusy.forEach(s=> { %>
                                            <option value="<%= s.Status %>" <%=s.ID===item.Status ? 'selected' : ''
                                                %>>
                                                <%= s.Status %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </td>
                                <td>
                                    <%= item.Zmiana_statusu %>
                                </td>
                                <td>

                                    <button type="submit">Zapisz</button>
                                </td>
                            </tr>
                        </form>
                        <% }) %>
                    </tbody>
                </table>
            </main>
    </body>

    </html>