<%- include('head.ejs') %>
</head>

<body>
  <%- include('navigation.ejs') %>
  <label for="category">Kategoria</label>
  <select name="category_dropdown" id="category">
    <option></option>
    <% categories.forEach(c=> { %>
      <option>
        <%= c.Kategoria %>
      </option>
      <% }); %>
  </select>
  <label for="model">Model</label>
  <select name="model_dropdown" id="model">
    <option></option>
    <% models.forEach(m => { %>
      <option>
        <%= m.Model %>
      </option>
      <% }); %>
  </select>
  <label for="material">Materiał</label>
  <select name="material_dropdown" id="material">
    <option></option>
    <% materials.forEach(m => { %>
      <option>
        <%= m.Material %>
      </option>
      <% }); %>
  </select>
  <label for="color">Kolor</label>
  <select name="color_dropdown" id="color">
    <option></option>
    <% colors.forEach(c => { %>
      <option>
        <%= c.Kolor %>
      </option>
      <% }); %>
  </select>
  <label for="zirc_color">Kolor Cyrkonii</label>
  <select name="zirc_color_dropdown" id="zirc_color">
    <option></option>
    <% colors.forEach(c => { %>
      <option>
        <%= c.Kolor %>
      </option>
      <% }); %>
  </select>


</body>

</html>