<%- include('head.ejs') %>
  <link rel="stylesheet" href="/css/product_list.css">
  </head>

  <body>
    <%- include('navigation.ejs') %>
      <div class="scrollable-container">
        <main>
          </section>
          <div class="product-list">
            <% products.forEach(product=> { %>
              <a href="/produkt/<%= product.ID %>">
                <div class="product-container">
                  <img src="/uploads/<%= product.Zdjecie.substring(15) %>">
                  <h2 id="nazwa">
                    <%= product.Nazwa %>
                  </h2>
                  <p id="cena">
                    <%= product.Cena + 'zł' %>
                  </p>
                </div>
              </a>
              <% }); %>
          </div>

        </main>
      </div>

  </body>

  </html>